body {
    background-color: #dfd0bf;
}

#navbar {
    background-color: #8cc5aa !important;
}

#donate {
    background-color: #8cc5aa;
    color: #8459ab;
}

#footer {
    background-color: #8cc5aa !important;
}

#profile {
    background-color: #8cc5aa;
    border-color: #8cc5aa;
    color: #8459ab;
}

h4 {
    color: #8459ab;
}

#navlinks {
    color: #8459ab;
}

#navbarDropdownBlog {
    color: #8459ab;
}

#dogname {
    color: #8459ab;
}

#dot {
    color: #8459ab;
    display: block;
}

#copyright {
    color: #8459ab !important;
}

#name {
    color: #8459ab;
}

.card-header {
    background-color: #f9f5f2;
}

.card-body {
    background-color: #f9f5f2;
}

.card-footer {
    background-color: #f9f5f2;
}